body {
    margin: 0;
    padding: 0;
    background-color: #f7f6f5;
}

/* h1 {
    color: darkmagenta;
    font-size: 35px;
    text-align: center;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 0;
}

@keyframes blink {
    from {
        color: #E6399B;
    } 25% {
        color: #9F3ED5;
    } 50% {
        color: #B9F73E;
    } 75% {
        color: #FF4040;
    } to {
        color: #CD0074;
    }
} */

#cv {
    background-color: #f5eeee;
    width: 55%;
    margin: 20px auto;
    border: 15px solid #f5e1d8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#headerDiv {
    height: 280px;
   /*  width: 55%; */
    display: flex;
    /* flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; */
}

#headerName {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#headerName h2 {
    font-family: 'EB Garamond', serif;
    font-weight: 300;
    margin-top: 5px;
    margin-right: 70px;
}

#contact li {
    margin-left: 60px;
}

h1 {
    margin-right: 75px;
    margin-bottom: 5px;
    font-family: 'EB Garamond', serif;
    font-weight: 500;
}

dl {
    font-family: 'EB Garamond', serif;
    font-weight: 300;
}

#skills {
    font-family: 'EB Garamond', serif;
    font-weight: 300;
}

#myself {
    font-family: 'EB Garamond', serif;
    font-weight: 300;
}

#code {
    font-family: 'EB Garamond', serif;
    font-weight: 300;
}

#education {
    font-family: 'EB Garamond', serif;
    font-weight: 300;
}

#languages {
    font-family: 'EB Garamond', serif;
    font-weight: 300;
}
main{
    border-top: 4px solid #f5e1d8;
}

main div{
    margin-left: 50px;
}

footer {
    border-top: 4px solid #f5e1d8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}